*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Courier New",
    Courier, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 18px;
}

:root {
  --main: #facc15;
  --glass-background: rgba(20,26,36,0.38824);
  --neutral: #141a24;
}

body {
  font-family: inherit;

  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  overflow: hidden;

  background-image: url(https://images.unsplash.com/photo-1518164990983-9fd423d1cb6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1162&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "title title"
    "counter counter"
    "plus minus";

  grid-gap: 1rem;

  gap: 1rem;
  padding: 1rem;

  background-color: rgba(20,26,36,0.38824);

  background-color: var(--glass-background);
  border-radius: 12px;
  -webkit-backdrop-filter: blur(15px) saturate(180%);
          backdrop-filter: blur(15px) saturate(180%);
}

.my-title {
  grid-area: title;
  font-size: 2rem;
  text-align: center;
  color: #facc15;
  color: var(--main);
}

.counter {
  grid-area: counter;
  font-size: 3rem;
  width: 5rem;

  margin-left: 43%;

  color: #141a24;

  color: var(--neutral);
  background: transparent;
  border: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: center;
  padding: 2rem;
  font-size: 2rem;

  border-radius: 12px;
  color: #facc15;
  color: var(--main);
  background-color: #141a24;
  background-color: var(--neutral);
}

button:active {
    color: #141a24;
    color: var(--neutral);
    background-color: #facc15;
    background-color: var(--main);
  }

button.plus {
  grid-area: plus;
}

button.minus {
  grid-area: minus;
}
